body {
	margin: 0;
	padding: 0;
	
}

.pane {
	float:left;
}

#tree-pane {
	max-width: 50%;
	min-width: 150px;
	width: 200px;
	background-color: #000000;
}

#list-pane {
	max-width: 50%;
	background-color: #FF0000;
}